.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  @import url('semantic-ui-css/semantic.min.css');

  .main-header{
    font-family: 'Montserrat', sans-serif;
  }

  .sign-in {
    position: absolute;
    top: 10px; /* You can adjust the top and right values as needed */
    right: 10px;
  }
  
  .navbar,
  .navbar li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar {
    overflow: hidden;
    margin-top: 50;
    text-align: center;
  }
  
  .navbar li {
    float: left;
    margin-right: 10px; /* Adjust the margin to add space between buttons */
  }
  
  .nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  

  